@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap");

.highlight-font {
  font-family: "JetBrains Mono", monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;